[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/OBJ-Loader"]
	path = libraries/OBJ-Loader
	url = https://github.com/Bly7/OBJ-Loader.git
[submodule "libraries/assimp"]
	path = libraries/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libraries/OpenSceneGraph"]
	path = libraries/OpenSceneGraph
	url = https://github.com/openscenegraph/OpenSceneGraph.git
